<div class="container">
    <div class="row header">
      <h1 class="col-8 col-md-9 col-xl-10">Precio RV</h1>
      <div class="col-4 col-md-3 col-xl-2 text-center">
        <button mat-raised-button color="primary" (click)="presentCreateModal()">
          Registrar Precio
        </button>
      </div>
    </div>

  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>T&iacute;tulo</mat-label>
        <input placeholder="Título" aria-label="Título'" matInput formControlName="title" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
          <mat-option *ngFor="let title of filteredTitles | async" [value]="title">
            {{ title.symbol }} | {{ title.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Fecha de Cierre</mat-label>
        <input matInput [matDatepicker]="createDatePicker" formControlName="createDate">
        <mat-datepicker-toggle matSuffix [for]="createDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #createDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>

  <div class="table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoading || errorLoading">
      <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="table-data-container">

      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockTitle?.symbol }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> T&iacute;tulo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockTitle?.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bolivaresPrice">
          <mat-header-cell *matHeaderCellDef> Precio Bs </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.bolivaresPrice }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dollarPrice">
          <mat-header-cell *matHeaderCellDef> Precio $ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getDollarPrice(element) | currency | nullable }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closePrice">
          <mat-header-cell *matHeaderCellDef> Precio Cierre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.closePrice }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closeDollarPrice">
          <mat-header-cell *matHeaderCellDef> Precio Cierre $ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getCloseDollarPrice(element) | currency | nullable }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createDate">
          <mat-header-cell *matHeaderCellDef> Fecha Creacion </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closeDate">
          <mat-header-cell *matHeaderCellDef> Fecha Cierre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.closeDate | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="relativeVar">
          <mat-header-cell *matHeaderCellDef> Valor Relativo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ getRelativeVar(element) | percentage }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="exchangeRate">
          <mat-header-cell *matHeaderCellDef> Tasa de Cambio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.exchangeRate.value }} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</div>
