<div class="container">
    <div class="row header">
        <h1 class="col-8 col-md-9 col-xl-10">Precio RV</h1>
        <div class="col-4 col-md-3 col-xl-2 text-center">
          <button mat-raised-button color="primary" (click)="presentCreateModal()">
            <i class="fas fa-plus"></i> Registrar precio
          </button>
        </div>
      </div>
    <div class="table-container mat-elevation-z8">
      <div class="loading-shade" *ngIf="isLoading || errorLoading">
        <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="table-data-container">
  
        <table mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="value" sticky>
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{ element.stockTitle?.symbol }} </td>
          </ng-container>
  
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> T&iacute;tulo </th>
            <td mat-cell *matCellDef="let element"> {{ element.stockTitle?.name }} </td>
          </ng-container>

          <ng-container matColumnDef="bolivaresPrice">
            <th mat-header-cell *matHeaderCellDef> Precio Bs </th>
            <td mat-cell *matCellDef="let element"> {{ element.bolivaresPrice }} </td>
          </ng-container>

          <ng-container matColumnDef="dollarPrice">
            <th mat-header-cell *matHeaderCellDef> Precio $ </th>
            <td mat-cell *matCellDef="let element"> {{ getDollarPrice(element) | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="closePrice">
            <th mat-header-cell *matHeaderCellDef> Precio Cierre </th>
            <td mat-cell *matCellDef="let element"> {{ element.closePrice }} </td>
          </ng-container>

          <ng-container matColumnDef="closeDollarPrice">
            <th mat-header-cell *matHeaderCellDef> Precio Cierre $ </th>
            <td mat-cell *matCellDef="let element"> {{ getCloseDollarPrice(element) | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="createDate">
            <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </td>
          </ng-container>

          <ng-container matColumnDef="closeDate">
            <th mat-header-cell *matHeaderCellDef> Fecha Cierre </th>
            <td mat-cell *matCellDef="let element"> {{ element.closeDate | date }} </td>
          </ng-container>
  
          <ng-container matColumnDef="relativeVar">
            <th mat-header-cell *matHeaderCellDef> Valor Relativo </th>
            <td mat-cell *matCellDef="let element"> {{ getRelativeVar(element) | number }} &#37; </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [length]="totalItems" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  
  </div>
