<div class="container text-center">
    <button mat-icon-button class="close" (click)="dismiss()"><i class="fas fa-times"></i></button>
    <h1 mat-dialog-title>Registrar Comisión</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-dialog-content>
            <!-- Name field -->
            <div class="row">
              <mat-form-field class="col-md-6" appearance="outline" floatLabel="always">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="constantType">
                  <mat-option *ngFor="let type of constantTypes" [value]="type">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

                <mat-form-field class="col-md-6" appearance="outline" floatLabel="always">
                    <mat-label>Valor</mat-label>
                    <input matInput type="number" placeholder="0" formControlName="value" required>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.value">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                  </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button type="button" (click)="dismiss()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </mat-dialog-actions>
    </form>

</div>
