<div class="container">
    <div class="row header">
        <h1 class="col-8 col-md-9 col-xl-10">Comisiones</h1>
        <div class="col-4 col-md-3 col-xl-2 text-center">
          <button mat-raised-button color="primary" (click)="presentCreateModal()">
            <i class="fas fa-plus"></i> Registrar Comisión
          </button>
        </div>
      </div>

  <div class="filter-section">
    <form>
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <mat-select [formControl]="filterSelect">
          <mat-option>
            -
          </mat-option>
          <mat-option *ngFor="let type of constantTypes" [value]="type">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
    <div class="table-container mat-elevation-z8">
        <div class="loading-shade" *ngIf="isLoading || errorLoading">
            <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>
      <div class="table-data-container">

        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ getConstantTypeName(element.id) }} </mat-cell>
          </ng-container>
          <!-- Name Column -->
            <ng-container matColumnDef="value">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.value }} </mat-cell>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>

  </div>

