<div class="container-fluid">
  <div class="header">
    <h1>Portafolio</h1>
  </div>
  <div class="row total">
    <div class="col-md-6">
      <div class="loading-shade" *ngIf="isLoading || errorLoading">
        <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
      <div>
        <mat-table [dataSource]="totalDataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name" sticky>
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="bs">
            <mat-header-cell *matHeaderCellDef> Bol&Iacute;vares </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.valueBs | number | nullable }} </mat-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="usd">
            <mat-header-cell *matHeaderCellDef> USD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.valueUSD | currency | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="totalDisplayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: totalDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="loading-shade" *ngIf="isLoading || errorLoading">
        <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
      <div>
        <mat-table [dataSource]="exchangeRateDataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="name" sticky>
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element"> Tasa de Cambio </mat-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element | number | nullable }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="exchangeRateDisplayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: exchangeRateDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="table-container mat-elevation-z8">
      <div class="loading-shade" *ngIf="isLoading || errorLoading">
        <button *ngIf="errorLoading" mat-raised-button color="warn" (click)="fetch()">Reintentar</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div class="table-data-container">

        <mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="symbol" sticky>
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.titleSymbol }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Descripci&oacute;n </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.titleDesc }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Precio Acci&oacute;n </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.stockPrice | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="amountOwned">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.stockInFolio | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalStocksAmount | number | nullable }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="averagePrice">
            <mat-header-cell *matHeaderCellDef> Precio Promedio Compra </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.avgBuyPrice | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="totalPrice">
            <mat-header-cell *matHeaderCellDef> Costo Total Compra </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.buyTotalCost | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalBuyTotalCost | number | nullable }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="totalPriceUSD">
            <mat-header-cell *matHeaderCellDef> Costo Total Compra USD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.dollarBuyTotalCost | currency | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalDollarBuyTotalCost | currency | nullable
              }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="netValue">
            <mat-header-cell *matHeaderCellDef> Valor Neto Mercado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.marketNetValue | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalNetMarketValue | number | nullable }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="netValueUSD">
            <mat-header-cell *matHeaderCellDef> Valor Neto Mercado USD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.dollarMarketNetValue | currency | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalDollarNetMarketValue | currency | nullable
              }} </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="gp">
            <mat-header-cell *matHeaderCellDef> G/P Neto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.netGp | number | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalNetGp | number | nullable }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="gpUSD">
            <mat-header-cell *matHeaderCellDef> G/P Neto USD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.dollarNetGp | currency | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> {{ page?.totalDollarNetGp | currency | nullable }}
            </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="variation">
            <mat-header-cell *matHeaderCellDef> Variaci&oacute;n </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.variation | percentage | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="variationUSD">
            <mat-header-cell *matHeaderCellDef> Variaci&oacute;n USD </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.dollarVariation | percentage | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="port">
            <mat-header-cell *matHeaderCellDef> % Portafolio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.percentageInFolio * 100 | percentage | nullable }} </mat-cell>
            <mat-footer-cell mat-footer-cell *matFooterCellDef> </mat-footer-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>