<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Desc. </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio Acci&oacute;n </th>
        <td mat-cell *matCellDef="let element"> {{ element.price | number }} </td>
      </ng-container>

      <!-- Amount Owned Column -->
      <ng-container matColumnDef="amountOwned">
        <th mat-header-cell *matHeaderCellDef> Acciones en Portafolio </th>
        <td mat-cell *matCellDef="let element"> {{ element.price | number }} </td>
      </ng-container>

      <!-- Average Price Column -->
      <ng-container matColumnDef="averagePrice">
        <th mat-header-cell *matHeaderCellDef> Precio Prom. Compra </th>
        <td mat-cell *matCellDef="let element"> {{ element.averagePrice | number }} </td>
      </ng-container>

      <!-- Total Price Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Costo Total Compra </th>
        <td mat-cell *matCellDef="let element"> {{ element.totalPrice | number }} </td>
      </ng-container>

      <!-- Total Price USD Column -->
      <ng-container matColumnDef="totalPriceUSD">
        <th mat-header-cell *matHeaderCellDef> Costo Total Compra USD </th>
        <td mat-cell *matCellDef="let element"> {{ element.totalPriceUSD | currency }} </td>
      </ng-container>

      <!-- Net Value Column -->
      <ng-container matColumnDef="netValue">
        <th mat-header-cell *matHeaderCellDef> Valor Neto Mercado </th>
        <td mat-cell *matCellDef="let element"> {{ element.netValue | number }} </td>
      </ng-container>

      <!-- Net Value USD Column -->
      <ng-container matColumnDef="netValueUSD">
        <th mat-header-cell *matHeaderCellDef> Valor Neto Mercado USD </th>
        <td mat-cell *matCellDef="let element"> {{ element.netValueUSD | currency }} </td>
      </ng-container>

      <!-- G/P Column -->
      <ng-container matColumnDef="gp">
        <th mat-header-cell *matHeaderCellDef> G/P Neto </th>
        <td mat-cell *matCellDef="let element"> {{element.gp}}% </td>
      </ng-container>

      <!-- G/P USD Column -->
      <ng-container matColumnDef="gpUSD">
        <th mat-header-cell *matHeaderCellDef> G/P Neto USD </th>
        <td mat-cell *matCellDef="let element"> {{element.gpUSD}}% </td>
      </ng-container>

      <!-- Variation Column -->
      <ng-container matColumnDef="variation">
        <th mat-header-cell *matHeaderCellDef> Variación (%) </th>
        <td mat-cell *matCellDef="let element"> {{element.variation}}% </td>
      </ng-container>

      <!-- Variaton USD Column -->
      <ng-container matColumnDef="variationUSD">
        <th mat-header-cell *matHeaderCellDef> Variación USD (%) </th>
        <td mat-cell *matCellDef="let element"> {{element.variationUSD}}% </td>
      </ng-container>

      <!-- Port Column -->
      <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef> % Port. </th>
        <td mat-cell *matCellDef="let element"> {{element.port}}% </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
