.table-container {
    min-width: 500px;
    max-width: 100%;
    overflow: auto;
}
.mat-cell {
    padding: 0px 8px 0px 8px;
}

.mat-header-cell {
    padding: 0px 8px 0px 8px;
}

.mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}
  
.mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}