mat-toolbar {
    span {
        margin-right: 20px;
    }
}

mat-sidenav {
  background-color: #000032;
  width: 220px;
  h1 {
    color: white;
    margin: 20px;
  }
  a {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
  }

  a:hover {
    background-color: #2c3845;
    color: white;
  }
}

mat-expansion-panel {
  background-color: transparent;
  mat-panel-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 600;
  }
}

mat-sidenav-container {
  height: 100%;
}

.active-item {
  color: white !important;
  .line {
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 5px;
    background-color: #4fa78e;
  }
}

.panel {
  position: relative;

  .line {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #4fa78e;
  }
}

.panel-open {
  mat-panel-title {
    color: white;
  }
}

.mat-flat-button {
  margin: 0 !important;
  padding: -10px !important;
}

