<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side">
    <h1>Percapital</h1>
    <mat-nav-list>
      <a mat-list-item routerLink="/portfolio" routerLinkActive="active-item">
        <span class="line"></span>
        Portafolio
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Operaciones
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <a mat-list-item routerLink="/buy-operations" routerLinkActive="active-item">
            <span class="line"></span>
            Compra
          </a>
          <a mat-list-item routerLink="/sell-operations" routerLinkActive="active-item">
            <span class="line"></span>
            Venta
          </a>
        </mat-list>
      </mat-expansion-panel>
      <a mat-list-item routerLink="/titles" routerLinkActive="active-item">
        <span class="line"></span>
        Títulos
      </a>
      <a mat-list-item routerLink="/exchange-rates" routerLinkActive="active-item">
        <span class="line"></span>
        Tasa de Cambio
      </a>
      <a mat-list-item routerLink="/price-rv" routerLinkActive="active-item">
        <span class="line"></span>
        Precio RV
      </a>
      <a mat-list-item routerLink="/comissions" routerLinkActive="active-item">
        <span class="line"></span>
        Comisiones
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-flat-button color="primary" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

