@import '~@angular/material/theming';
@include mat-core();

$primary-color: mat-palette($mat-indigo);
$accent-color: mat-palette($mat-pink, A200, A100, A400);
$warn-color: mat-palette($mat-red);

$dark-theme: mat-dark-theme($primary-color, $accent-color, $warn-color);
$light-theme: mat-light-theme($primary-color, $accent-color, $warn-color);
  
@media (prefers-color-scheme: dark) {
    @include angular-material-theme($dark-theme);
    body {
        background-color: black;
    }
    h1 {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    @include angular-material-theme($light-theme);
    h1 {
        color: black;
    }
}