<div class="container text-center">
    <button mat-icon-button class="close" (click)="dismiss()"><i class="fas fa-times"></i></button>
    <h1 mat-dialog-title>Crear Precio RV</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-dialog-content>
            <!-- Name field -->
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>T&iacute;tulo</mat-label>
                    <input placeholder="Título"
                           aria-label="Título'"
                           matInput
                           formControlName="title"
                           [matAutocomplete]="auto">
                           <mat-autocomplete #auto="matAutocomplete"  [displayWith]="getOptionText">
                                <mat-option *ngFor="let title of filteredTitles | async" [value]="title">
                                {{ title.symbol }} | {{ title.name }}
                                </mat-option>
                        </mat-autocomplete>
                  </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Tasa de Cambio</mat-label>
                    <input matInput type="number" formControlName="exchangeRate" disable>
                    <span matPrefix>Bs&nbsp;</span>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.exchangeRate">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Precio de cierre</mat-label>
                    <input matInput type="number" placeholder="0" formControlName="closePrice" required>
                    <span matSuffix>.00</span>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.closePrice">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Fecha de cierre</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="closeDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.closeDate">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Precio Bs</mat-label>
                    <input matInput type="number" placeholder="0" formControlName="bolivaresPrice" required>
                    <span matSuffix>.00</span>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.bolivaresPrice">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>Fecha de Creacion</mat-label>
                    <input matInput [matDatepicker]="createDatePicker" formControlName="createDate" required>
                    <mat-datepicker-toggle matSuffix [for]="createDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #createDatePicker></mat-datepicker>
                    <mat-hint>
                        <div *ngFor="let error of validationMessages.createDate">
                            <div class="error">
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>

        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button type="button" (click)="dismiss()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </mat-dialog-actions>
    </form>

</div>
